<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <title>Help</title>
      <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>

        <div class="main-content">
            {{>header}}
        </div>

        <div class="main-content">
                 <h4>Please use specific address to get the Weather.</h4>
                 <h4>Location : Patna</h4>
            </div>
    {{>footer}}


</body>
</html>